In [15]:
import xarray as xr
import pandas as pd
import datetime

En primer lugar, leemos los datos de consumo eléctrico. Una vez leidos, hacer una agregación de los datos de manera que haya datos cada 2 horas y que concuerde con los datasets meteorológicos. Por tanto, vamos a tener datos a las 0:00, 2:00, 4:00, ...

In [16]:
# Leer el .txt y convertir a xarray.Dataset
input_path = 'household_power_consumption.txt'
header = ['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
          'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
          'Sub_metering_3']
usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8]
dates_list = [[0, 1]]
df = pd.read_csv(input_path, skiprows=1, header=None, sep=";", engine='python',
                index_col=None, names=header,
                usecols=usecols, parse_dates=dates_list)

In [17]:
df = df.rename(columns={'Date_Time': 'time'})

In [18]:
df.head()

,time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,2006-12-16 17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,2006-12-16 17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [19]:
df = df.set_index('time')

In [20]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
time,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
2006-12-16 17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2006-12-16 17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
2006-12-16 17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
2006-12-16 17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [21]:
import numpy as np
for col in df.columns:
  df.loc[df[col] == '?', col] = np.nan

In [22]:
types_dict = {'Global_active_power': float, 'Global_reactive_power': float,
              'Voltage': float, 'Global_intensity': float,
              'Sub_metering_1': float, 'Sub_metering_2': float,
              'Sub_metering_3': float}
for col, col_type in types_dict.items():
    df[col] = df[col].astype(col_type)

In [23]:
df_2007 = df.loc[datetime.date(year=2007,month=1,day=1):datetime.date(year=2008,month=1,day=1)]
df_2008 = df.loc[datetime.date(year=2008,month=1,day=1):datetime.date(year=2009,month=1,day=1)]
df_2009 = df.loc[datetime.date(year=2009,month=1,day=1):datetime.date(year=2010,month=1,day=1)]
df_2010 = df.loc[datetime.date(year=2010,month=1,day=1):]

In [24]:
df_2007

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
time,,,,,,,
2007-01-01 00:00:00,2.580,0.136,241.97,10.6,0.0,0.0,0.0
2007-01-01 00:01:00,2.552,0.100,241.75,10.4,0.0,0.0,0.0
2007-01-01 00:02:00,2.550,0.100,241.64,10.4,0.0,0.0,0.0
2007-01-01 00:03:00,2.550,0.100,241.71,10.4,0.0,0.0,0.0
2007-01-01 00:04:00,2.554,0.100,241.98,10.4,0.0,0.0,0.0
...,...,...,...,...,...,...,...
2007-12-31 23:56:00,1.732,0.210,242.42,7.2,0.0,0.0,18.0
2007-12-31 23:57:00,1.732,0.210,242.50,7.2,0.0,0.0,18.0
2007-12-31 23:58:00,1.684,0.144,242.18,7.0,0.0,0.0,18.0
2007-12-31 23:59:00,1.628,0.072,241.79,6.6,0.0,0.0,18.0
2008-01-01 00:00:00,1.620,0.070,241.25,6.6,0.0,0.0,18.0

In [25]:
df_2007 = df_2007.resample('2H').sum()
df_2008 = df_2008.resample('2H').sum()
df_2009 = df_2009.resample('2H').sum()
df_2010 = df_2010.resample('2H').sum()

In [26]:
df_2007

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
time,,,,,,,
2007-01-01 00:00:00,304.442,11.066,28947.47,1258.4,0.0,35.0,0.0
2007-01-01 02:00:00,307.440,11.806,29187.95,1256.4,0.0,36.0,0.0
2007-01-01 04:00:00,297.118,11.390,29088.29,1215.6,0.0,35.0,0.0
2007-01-01 06:00:00,294.180,11.580,28892.16,1213.4,0.0,33.0,0.0
2007-01-01 08:00:00,335.272,8.742,28855.32,1386.0,0.0,3.0,722.0
...,...,...,...,...,...,...,...
2007-12-31 16:00:00,312.360,9.896,28767.19,1301.6,0.0,29.0,2116.0
2007-12-31 18:00:00,387.868,7.752,28231.29,1644.2,0.0,29.0,2040.0
2007-12-31 20:00:00,210.406,8.536,28556.78,876.2,0.0,28.0,2086.0
2007-12-31 22:00:00,193.822,8.736,28903.76,797.6,0.0,28.0,2135.0
2008-01-01 00:00:00,1.620,0.070,241.25,6.6,0.0,0.0,18.0

In [27]:
df_2007.to_csv('power_consumption_2007.csv')
df_2008.to_csv('power_consumption_2008.csv')
df_2009.to_csv('power_consumption_2009.csv')
df_2010.to_csv('power_consumption_2010.csv')